# Configurações de Login Social (OAuth2)
# Obtenha estas chaves em:
# Google: https://console.cloud.google.com/
# Yahoo: https://developer.yahoo.com/

GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui

YAHOO_CLIENT_ID=seu_client_id_aqui
YAHOO_CLIENT_SECRET=seu_client_secret_aqui
